@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

body {
    font-family: 'Lato';
    font-weight: 400;
    background-color: #F1F1F1;
}

a {
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

a:hover {
    color: #64AFFA !important;
}

.sub-header {
    font-weight: 400;
    font-size: 40px;
}

.navbar-brand {
    padding: 15px;
    font-size: 28px;
    color: #FFF !important;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.progbase {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    background-color: #F5F5F5;
}

.dimmer {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: #000;
    z-index: 900;
    opacity: 0;
    display: none;
}

.usertitle {
    position: fixed;
    padding: 10px;
    right: 5px;
    font-size: 28px;
    color: #FFF;
}

.nav {
    font-size: 125%;
}

.progfill {
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    background-color: #F5F5F5;
    -webkit-box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.4);
}

.progfill:hover {
    -webkit-transform: scale(1, 1.25);
    transform: scale(1, 1.25);
}

.proglab {
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.progdesc {
    padding-top: 1%;
    padding-bottom: 2%;
}

#mainhead {
    position: fixed;
    width: 100%;
    padding: 3%;
    padding-bottom: 2%;
    left: 16.667%;
    top: 3%;
    z-index: 500;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.overview.progbase {
    width: 70%;
    height: 50px;
}

.overview.title {
    font-weight: 400;
    font-size: 45px;
    padding-bottom: 2%;
}

.overview.progfill {
    width: 0%;
    height: 50px;
    margin-top: -57px;
}

.overview.proglab {
    position: fixed;
    right: 5%;
    margin-top: -45px;
    font-size: 30px;
}

#divider {
    position: relative;
    margin-top: 2%;
    margin-bottom: 0px;
    float: left;
    width: 200%;
    border-color: #DEDEDE;
    border-width: 5px;
    opacity: 0;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.metcont {
    opacity: 0;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    margin-bottom: 30px;
}

.metcol {
    padding: 2%;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.met.mettitle {
    font-size: 30px;
    padding-left: 0px;
    font-weight: 500;
}

.met.progbase {
    height: 40px;
    width: 90%;
}

.met.progfill {
    width: 0%;
    height: 40px;
    margin-top: -47px;
}

.met.proglab {
    float: right;
    font-size: 24px;
    position: relative;
    margin-top: -35px;
}

.met.progcont {
    position: relative;
    margin-left: 20%;
    margin-top: -80px;
}

.met.progdesc {
    font-size: 16px;
}

.met.progcont.elem {
    position: relative;
    top: -10px;
}

.met.photos.img {
    border: solid 10px #DDD;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-left: 2%;
    margin-right: 2%;
    max-width: 25%;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.4);
}